<main>
  <div>
    <app-product-description></app-product-description>
  </div>
  <div>
    <div>
      <div>
        <ul>
          <li>
            <div>
              <span class="track-number">1</span>
              <span class="track-name">The last</span>
            </div>
            <div>
              <span class="track-time">4:48</span>
              <span class="price-and-buy">
                <button>$0.99</button>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
